.wrapper {
    padding: 0 286px;
}

.navbar-dark, .navbar-toggler {
    background-color: #0F2438;
    border: none;
}

.nav-link,
.navbar-dark,
.navbar-nav,
.nav-link a,
.nav-link:hover {
    color: white !important;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.navbar-brand {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.collapse {
    justify-content: space-between;
}

.navbar-brand > p {
    margin: 0;
    padding-left: 5px;

}
.header_main {
    align-items: center;
    justify-content: center;

}
.logo {
    font-weight: 500;
}
.header_main_item {
    display: flex;
    margin: 44px 0;
    align-items: center;
    justify-content: center;
    column-gap: 10px;

}
.working_hours_text {
    font-weight: 500;
   
}
.location text{

}
.whatsApp {
    width: 172px;
    height: 14px;
    left: 1222px;
    top: 90px;

}
.contact {
    width: 157px;
    height: 40px;
    left: 1480px;
    top: 77px;
    flex-direction: column;
}