.wrapper {
    margin: 0 286px;
}

.navbar-dark, .navbar-toggler {
    background-color: #0F2438;
    border: none;
}

.nav-link,
.navbar-dark,
.navbar-nav,
.nav-link a,
.nav-link:hover {
    color: white !important;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.navbar-brand {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}
.header {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

}

.collapse {
    justify-content: space-between;
}
.navbar-brand > img {
    padding-right: 6px;
}

.navbar-brand > span {
    margin: 0;
    padding-left: 5px;
    text-decoration-line: underline;
}

.header_main {
    align-items: center;
    justify-content: center;
}

.logo {
    font-weight: 500;
}

.logo-right img {
    padding: 12px 0;
}

.logo-right p {
    line-height: 3px;
}

.header_main_item {
    display: flex;
    margin: 44px 0;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}

.working_hours_text {
    padding-top: 25px;
    font-weight: 500;
    font-size: 14px;
    line-height: 8px;
    text-align: right;
    color: #0F2438;
}

.location-text{
    font-weight: 500;
    padding-top: 19px;
}

.whatsApp {
    background-color: #E1EFD0;
    border-radius: 2px;
    height: 30px;
    width: 200px;
}

.whatsApp p {
    padding-top: 17px;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: right;
    color: #000000;
}
.whatsapp_mobile {
    display: none;
}

.contact {
    flex-direction: column;
    text-align: right;
    align-items: self-end;
    row-gap: 8px;

}
.number {
    font-weight: 500;
    font-size: 20px;
    color: #0F2438;
    margin-bottom: -10px;
}
.contact_text {
    font-size: 12px;
    text-decoration-line: underline;
    color: #0F2438;
}
.header_bottom {
    display: flex;
    column-gap: 150px;
    justify-content: space-between;
    margin-bottom: 15px;
}
.header_bottom_left__button > span {
    margin: 0 10px;
}
.header_bottom_left__button_2 img {
    display: none;
}
.btn-primary {
    background: #005BB9;
    border-radius: 6px;
}

.header_bottom_left {
    height: 53px;
    column-gap: 20px;
}

.header_bottom_right {
    display: flex;
    align-items: center;
    column-gap: 25px;
}

.header_bottom_right__item p {
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    color: #0F2438;
    border-right: 1px solid #E1E5F8;
    padding-right: 25px;
}

.header_bottom_right__item {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.header_bottom_right__item > img {
    margin-bottom: 12px;
}

.header_bottom_left__button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 14px;
    padding: 20px 24px;
}

.header_bottom_left__form {
    width: 580px;
}

.header_bottom_left__form>button {
    padding: 12px 28px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}


.cart {
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #0F2438;
    width: 159px;
}

.cart > p {
    border-right: none;
    text-align: start;
    line-height: 19px;
}

.main_top {
    display: flex;
    align-items: center;
}

.main_left {
    width: 960px;
    padding-top: 30px;
}

.main_left_text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_left_header h5{
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    color: #0A1A2C;
}

.main_left_header p {
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-decoration-line: underline;
    color: #717171;
}
.main_left_price {
    display: flex;
    align-items: center;
    padding: 15px 0;
}

.main_left_price h6 {
    font-weight: 500;
    font-size: 37px;
    line-height: 43px;
    color: #005BB9;
}

.main_left_price p {
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    text-decoration-line: line-through;
    color: #C2C5DA;
    padding-left: 10px;
}

.main_left_button {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    column-gap: 8px;
    padding: 15px 25px;
}

.left_indicators {
    column-gap: 10px;
    margin-bottom: 30px;
}

.left_indicators > button {
    border: transparent;
    background-color: transparent;
}

.left_slide > button {
    width: 10%;
}

.main_right_item {
    width: 336px;
    max-height: 190px;
}

.main_right_item_box {
    column-gap: 15px;
}

.right_item_box_img {
    width: 80px;
    height: 74px;
}

.main_right_item_box h5 {
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    color: #0A1A2C;
}

.main_right_item_box p {
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #525252;
}

.main_right_item_price h6 {
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #FFB800;
}

.main_right_item_price p {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: line-through;
    color: #C2C5DA;
    padding: 8px 25px 0 5px;

}

.main_right_item_price {
    height: 49px;
    align-items: center;
}

.main_right_item_price button {
    margin-bottom: 25px;
}

.main_right {
    padding: 60px 0 0 30px;
}

.main_bottom {
    margin-top: 45px;
}

.main_box__bottom {
    column-gap: 30px;
    justify-content: space-between;
}

.main_box__bottom_item {
    display: flex;
    width: 33%;
    border: 1px solid #E1E5F8;
    box-sizing: border-box;
    border-radius: 6px;
}

.main_box__bottom_button {
    width: 0;
}

.main_box__bottom_item_left {
    padding: 30px;
}

.main_box__bottom_item_left > h4 {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #0A1A2C;
}

.main_box__bottom_item_left > p {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #0A1A2C;
}

.main_box__bottom_item > img {
    height: 105%;
    margin-right: -8px;
}
.catalog_top {
    margin: 60px 0 30px;
    column-gap: 20px;
}

.catalog_top > .btn-outline-primary {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #005BB9;
    border: 2px solid #005BB9;
    box-sizing: border-box;
    padding: 10px 25px;
}

.catalog_top > .btn-primary {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    padding: 10px 25px;
}
.catalog_button {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.catalog_button > button {
    margin: 0;
}

.catalog_header {
    display: flex;
    align-items: start;
}

.catalog_price_tag {
    display: flex;
}

.catalog_header > h6 {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFB800;
    padding-left: 3px;
}

.catalog_header > p {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #B0B0B0;
    padding-left: 7px;
}

.catalog_header > img {
    padding-top: 1px;
}

.catalog_body {
    padding: 0;
}

.catalog_card {
    position: relative;
    border: none;
}

.catalog_card > span {
    position: absolute;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    border-radius: 2px;
}

.catalog_body > h5 {
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    color: #0A1A2C;
}

.catalog_price_tag {
    margin-top: 40px;
    margin-bottom: -10px;
}

.catalog_price_tag > p {
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #000000;
}

.catalog_price_tag > a {
    font-size: 13px;
    line-height: 15px;
    padding-left: 3px;
}

.catalog_price {
    display: flex;
    margin-top: 40px;
    column-gap: 7px;
    margin-bottom: -8px;
}

.catalog_price > h6 {
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #FFB800;
}

.catalog_price > p {
    padding-top: 3px;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: line-through;
    color: #C2C5DA;
}

.catalog_bottom {
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.catalog_bottom > button {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    align-items: center;
    color: #005BB9;
    border: 2px solid #005BB9;
    padding: 15px 40px;
}

.news {
    margin: 80px 0 120px;
}

.divider {
    height: 9px;
    background: #F5F5F5;
}

.news_header {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    padding-bottom: 15px;
}

.preview {
    padding-left: 0;
}

.preview > h5 {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    background: #0C1A2A;
    border-radius: 4px;
    width: 105px;
    text-align: center;
}

.preview_card {
    padding-top: 15px;
    border: none;
}

.preview > a {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #005BB9;
}

.preview > p,
.preview_text{
    padding-top: 20px;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #242424;
}

.preview_text > p {
    margin: 1px;
}

.contact_form {
    min-height: 408px;
    background: #0C1A2A;
}

.contact_form_box {
    padding-top: 35px;
    justify-content: space-between;
}

.contact_form_col > h4 {
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #868DAC;
}

.contact_form_col > p {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

.payment {
    padding-top: 20px;
}

.contact_form__right_row {
    display: flex;
    justify-content: space-between
}

.contact_form__right_col > h4 {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #868DAC;
}

.contact_form__right_col > p {
    font-weight: 500;
    font-size: 12px;
    line-height: 19px;
    color: #FFFFFF;
    margin: 0;
}

.contact_form__right_line {
    padding: 15px 0;
    align-items: center;
    justify-content: space-between;
}

.contact_form__right_line > p,
.contact_form__right_form > p {
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #858CAB;
    margin: 0;
}

.contact_form__right_line > button {
    margin-bottom: 0;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    padding: 0;
}

.email_form > input {
    background-color: transparent;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #ADBDD1;
    border: 1px solid #203246;
    box-sizing: border-box;
    border-radius: 6px;
}

.email_form {
    margin-top: 15px;
}

.socials {
    margin-top: 25px;
    display: flex;
    justify-content: end;
    align-items: center;
    column-gap: 40px;
}

.contact_form__bottom {
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #737E9B;
    padding: 20px 0;
}

.fixed-bottom {
    display: none;
}

.fixed_item p {
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    color: #0F2438;
    padding-top: 3px;
}

.fixed_item span {
    font-weight: 500;
    font-size: 8px;
    background: #005BB9;

}
.fixed_item_img {
    padding-left: 5px;
}

.fixed-bottom {
    height: 60px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    background-color: white;
    justify-content: space-evenly;
}

.fixed_item {
    margin: 10px 0;
}

.fixed_item img {
    margin-left: 7px;
}



