.wrapper {
    padding: 0 286px;
}

.navbar-dark, .navbar-toggler {
    background-color: #0F2438;
    border: none;
}

.nav-link,
.navbar-dark,
.navbar-nav,
.nav-link a,
.nav-link:hover {
    color: white !important;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.navbar-brand {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.collapse {
    justify-content: space-between;
}

.navbar-brand > p {
    margin: 0;
    padding-left: 5px;

}
.header_main {
    align-items: center;
    justify-content: center;

}
.logo {
    font-weight: 500;
}
.logo-right img {
    padding: 12px 0;
}
.logo-right p {
    line-height: 3px;
}
.header_main_item {
    display: flex;
    margin: 44px 0;
    align-items: center;
    justify-content: center;
    column-gap: 10px;

}
.working_hours_text {
    padding-top: 25px;
    font-weight: 500;
    font-size: 14px;
    line-height: 8px;
    text-align: right;
    color: #0F2438;

}
.location-text{
    font-weight: 500;
    padding-top: 19px;
}
.whatsApp {
    background-color: #E1EFD0;
    border-radius: 2px;
    height: 30px;
    width: 200px;

}
.whatsApp p {
    padding-top: 17px;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: right;
    color: #000000;
}
.contact {
    flex-direction: column;
    text-align: right;
    align-items: self-end;
    row-gap: 8px;

}
.number {
    font-weight: 500;
    font-size: 20px;
    color: #0F2438;
    margin-bottom: -10px;
}
.contact_text {
    font-size: 12px;
    text-decoration-line: underline;
    color: #0F2438;
}
.header_bottom {
    display: flex;
}
.header_bottom_left__button > p {
    margin: 0 10px;
}
.header_bottom_left {

}
.header_bottom_left__form {

}
.header_bottom_right__item {
    display: flex;
}