.wrapper {
    padding: 0 286px;
}

.navbar-dark, .navbar-toggler {
    background-color: #0F2438;
    border: none;
}

.nav-link,
.navbar-dark,
.navbar-nav,
.nav-link a,
.nav-link:hover {
    color: white !important;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.navbar-brand {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}
.header {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

}

.collapse {
    justify-content: space-between;
}

.navbar-brand > p {
    margin: 0;
    padding-left: 5px;

}
.header_main {
    align-items: center;
    justify-content: center;


}
.logo {
    font-weight: 500;
}
.logo-right img {
    padding: 12px 0;
}
.logo-right p {
    line-height: 3px;
}
.header_main_item {
    display: flex;
    margin: 44px 0;
    align-items: center;
    justify-content: center;
    column-gap: 10px;

}
.working_hours_text {
    padding-top: 25px;
    font-weight: 500;
    font-size: 14px;
    line-height: 8px;
    text-align: right;
    color: #0F2438;

}
.location-text{
    font-weight: 500;
    padding-top: 19px;
}
.whatsApp {
    background-color: #E1EFD0;
    border-radius: 2px;
    height: 30px;
    width: 200px;

}
.whatsApp p {
    padding-top: 17px;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: right;
    color: #000000;
}
.contact {
    flex-direction: column;
    text-align: right;
    align-items: self-end;
    row-gap: 8px;

}
.number {
    font-weight: 500;
    font-size: 20px;
    color: #0F2438;
    margin-bottom: -10px;
}
.contact_text {
    font-size: 12px;
    text-decoration-line: underline;
    color: #0F2438;
}
.header_bottom {
    display: flex;
    column-gap: 150px;
    justify-content: space-between;
    margin-bottom: 15px;
}
.header_bottom_left__button > p {
    margin: 0 10px;
}

.btn-primary {
    background: #005BB9;
    border-radius: 6px;
}

.header_bottom_left {
    height: 53px;
    column-gap: 20px;
}

.header_bottom_right {
    display: flex;
    align-items: center;
    column-gap: 25px;
}

.header_bottom_right__item p {
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    color: #0F2438;
    border-right: 1px solid #E1E5F8;
    padding-right: 25px;
}

.header_bottom_right__item {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.header_bottom_right__item > img {
    margin-bottom: 12px;
}

.header_bottom_left__button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 14px;
    padding: 20px 24px;
}

.header_bottom_left__form {
    width: 580px;
}

.header_bottom_left__form>button {
    padding: 12px 28px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}


.cart {
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #0F2438;
    width: 159px;
}

.cart > p {
    border-right: none;
    text-align: start;
    line-height: 19px;

}